<div class="movies-container">
  <ul class="movies">
    <li *ngFor="let movie of movies">
      <a routerLink="/detail/{{movie.id}}">
      <span class="badge">{{movie.id}}</span> {{movie.title}}
      </a>
    <button class="delete" title="delete movie" (click)="delete(movie)">x</button>
    </li>
  </ul> 

  <h2>Add more movies to your list</h2>
  <div>
    <label>Movie title:
      <input #movieTitle />
    </label>
    <button class="add" (click)="add(movieTitle.value); movieTitle.value=''">
      add
    </button>
  </div>
</div>