/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
h1 {
    color: #000000;
    font-family: 'Bevan', cursive;
    font-size: 50px;
  }
  h2, h3 {
    color: rgb(166, 23, 23);
    font-family: 'Josefin Sans', sans-serif;
    font-size:28px;
  }
  a{
      text-decoration: none;
  }
  body {
    margin: 2em;
    background-image:url(../tarantinoimg.jpg);
    background-repeat: repeat;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
   